<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shortofbreathers.MedicalApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Patient Diagnosis App</name>
    <description>
        An app to help ER doctors perform patient diagnosis quickly. 
    </description>
    <author email="fabeschan@gmail.com" href="http://cordova.io">
        ESC472 Capstone Project
    </author>
    <author email="singhbabneet@gmail.com" href="http://cordova.io">
        ESC472 Capstone Project
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
