<ion-view title="Instructions">

    <ion-content class="has-header">
        <div class="card">
          <div class="item item-text-wrap">
		<p>
			List Models: Click to access the model selection page. Use the search bar to find the desired model and click on it to access it. 
		</p>
          </div>
          <div class="item item-text-wrap">
		<p>
			Manage Models: Click to manage which models to display at the model selection page. Use the plus sign to add it to the model selection page. Use the minus sign to remove it from the model selection page.
		</p>
          </div>
          <div class="item item-text-wrap">
		<p>
			Instructions: Click to access this page again to review the instructions
		</p>
          </div>
          <div class="item item-text-wrap">
		<p>
			Legal: Click to access the legal disclaimer
		</p>
          </div>
        </div>
    </ion-content>

</ion-view>
