<ion-view title="Main Menu">

    <ion-content class="has-header">
        <!--ion-list>
            <ion-item href="#/models" type="item-text-wrap">
                <i class="icon ion-medkit"></i>
                List Models
            </ion-item>
            <ion-item href="#/instructions" type="item-text-wrap">
                <i class="icon ion-information-circled"></i>
                Instructions
            </ion-item>
            <ion-item href="#/legal" type="item-text-wrap">
                <i class="icon ion-briefcase"></i>
                Legal
            </ion-item>
        </ion-list-->
		<div class="list">

			<a class="item item-avatar" href="#/models">
			  <img src="img/listmodels.png">
			  <h2>List Models</h2>
			  <p>Show all of the medical models available</p>
			</a>
			
			<a class="item item-avatar" href="#/instructions">
			  <img src="img/instructions.jpg">
			  <h2>Instructions</h2>
			  <p>See how this run works</p>
			</a>
			
			<a class="item item-avatar" href="#/legal">
			  <img src="img/legal.jpg">
			  <h2>List Models</h2>
			  <p>Legal disclaimers</p>
			</a>

		</div>
    </ion-content>

</ion-view>
