<ion-view title="Main Menu">

    <ion-content class="has-header">
        <ion-list>
            <ion-item href="#/models" type="item-text-wrap">
                <i class="icon ion-star"></i>
                List Models
            </ion-item>
            <ion-item href="#/manage" type="item-text-wrap">
                <i class="icon ion-star"></i>
                Manage Models
            </ion-item>
            <ion-item href="#/instructions" type="item-text-wrap">
                <i class="icon ion-star"></i>
                Instructions
            </ion-item>
            <ion-item href="#/legal" type="item-text-wrap">
                <i class="icon ion-star"></i>
                Legal
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
